extends layout

block content
	.container
		.jumbotron
			.container
				h1 How May I Help You?
				p Lorem Ipsum
				a.btn.btn-primary.btn-lg(href='#') Learn more
		.container
			.row
				.col-md-4
					h2 About Us
					p Lorem Ipsum
					a.btn.btn-default(href='#') View Details
				.col-md-4
					h2 Services
					p Lorem Ipsum
					a.btn.btn-default(href='#') View Details
				.col-md-4
					h2 Contact Us
					p Lorem Ipsum
					a.btn.btn-default(href='#') View Details